<div class="container">
  <div class="row"></div>
  <div class="col-lg-80%">
    <div class="col-lg-80">
      <div class="card">
        <div class="card-header">
          <h3>formulario de registro a la Velvet Room {{title}}</h3>
        </div>
        <div class="card-body">
          <form [FormGroup]="Formulario">
          <div class="row">
            <div class="col-sm d-flex justify-content-between">
              <div class="mb-3">
                <label for="" class="form-label">Name</label>
                <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Last Name</label>
                <input type="text" class="form-control" Lastname="" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">Age</label>
                <input type="number" class="form-control" age="" id="" aria-describedby="helpId" placeholder="">
                <small id="helpId" class="form-text text-muted">Help text</small>
              </div>
            </div>
            <div class="row">
              <div class="col-sm d-flex justify-content-between">
                <div class="mb-3">
                  <label for="" class="form-label">Number</label>
                  <input type="number" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">City</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">postal code</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>

                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm d-flex justify-content-between">

                <div class="mb-3">
                  <label for="" class="form-label">state</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Country</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">address</label>
                  <input type="text" class="form-control" name="" id="" aria-describedby="helpId" placeholder="">
                  <small id="helpId" class="form-text text-muted">Help text</small>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm- d-flex justify-content-between">
                <div class="mb-3">
                  <label for="cumple">Fecha de Nacimiento</label>
                  <input type="date" name="cumple" id="cumple" class="form-control" aria-describedby="helpId">
                  <small id="helpId" class="text-muted">help text</small>
                </div>
                <div class="mb-3">
                  <label for="" class="form-label">Email</label>
                  <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpId"
                    placeholder="abc@mail.com">
                  <small id="emailHelpId" class="form-text text-muted">Email</small>
                </div>
              </div>
              <div class="mb-3">
                <label for="" class="form-label">password</label>
                <input type="password" class="form-control" name="" id="" placeholder="">
              </div>
            </div>
          </div>
        </form>
        </div>
      </div>
    </div>
  </div>
</div>