<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3>Registro al sistema de la {{title}}</h3>
                    <div class="card-body">
                        <form [formGroup]="formulario">
                            <div class="row">
                                <div class="col d-flex justify-content-between">
                                    <div class="mb-3">
                                        <label for="nombre" class="form-label">*Name</label>
                                        <input type="text" class="form-control" name="" id="nombre"
                                            aria-describedby="helpId" placeholder="">
                                        <small id="helpId" class="form-text text-muted">Help
                                            text</small>
                                    </div>
                                    <div class="mb-3">
                                        <label for="ape" class="form-label">*Apellido</label>
                                        <input type="text" class="form-control" name="" id="ape"
                                            aria-describedby="helpId" placeholder="" formControlName="apellido">
                                        <small id="helpId" class="form-text text-muted">Help
                                            text</small>
                                    </div>
                                    <div class="mb-3">
                                        <label for="años" class="form-label">*Age</label>
                                        <input type="number" class="form-control" name="" id="años"
                                            aria-describedby="helpId" placeholder="" formControlName="edad">
                                        <small id="helpId" class="form-text text-muted">Help
                                            text</small>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-between">
                                        <div class="mb-3">
                                            <label for="tele" class="form-label">Phone</label>
                                            <input type="text" class="form-control" name="" id="tele"
                                                aria-describedby="helpId" placeholder="" formControlName="telefono">
                                            <small id="helpId" class="form-text
                                        text-muted">Help
                                                text</small>
                                        </div>
                                        <div class="mb-3">
                                            <label for="ad" class="form-label">Address</label>
                                            <input type="text" class="form-control" name="" id="ad"
                                                aria-describedby="helpId" placeholder="" formControlName="direccion">
                                            <small id="helpId" class="form-text
                                        text-muted">Help
                                                text</small>
                                        </div>
                                        <div class="mb-3">
                                            <label for="ciudad" class="form-label">City</label>
                                            <input type="text" class="form-control" name="" id="ciudad"
                                                aria-describedby="helpId" placeholder="" formControlName="ciudad">
                                            <small id="helpId" class="form-text
                                        text-muted">Help
                                                text</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-between">
                                        <div class="mb-3">
                                            <label for="estado" class="form-label">State</label>
                                            <input type="text" class="form-control" name="" id="estado"
                                                aria-describedby="helpId" placeholder="" formControlName="estado">
                                            <small id="helpId" class="form-text
                                        text-muted">Help
                                                text</small>
                                        </div>
                                        <div class="mb-3">
                                            <label for="pais" class="form-label">Country</label>
                                            <input type="text" class="form-control" name="" id="pais"
                                                aria-describedby="helpId" placeholder="" formControlName="pais">
                                            <small id="helpId" class="form-text
                                        text-muted">Help
                                                text</small>
                                        </div>
                                        <div class="mb-3">
                                            <label for="postal" class="form-label">Postal Code</label>
                                            <input type="number" class="form-control" name="" id="postal"
                                                aria-describedby="helpId" placeholder="" formControlName="codigoPostal">
                                            <small id="helpId" class="form-text
                                        text-muted">Help
                                                text</small>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col d-flex justify-content-between">
                                        <div class="mb-3">
                                            <label for="cumple">Fecha de nacimiento:
                                            </label>
                                            <input type="date" name="cumple" id="cumple" class="form-control"
                                                aria-describedby="helpId" formControlName="fecha">
                                            <small id="helpId" class="form-text
                                        text-muted">Help
                                                text</small>
                                        </div>
                                        <div class="mb-3">
                                            <label for="" class="form-label">Email</label>
                                            <input type="email" class="form-control" name="" id=""
                                                aria-describedby="emailHelpId" placeholder="abc@mail.com" formControlName="correo">
                                            <small id="emailHelpId" class="form-text
                                        text-muted">Help text</small>
                                        </div>








                                        <div class="mb-3">
                                            <label for="password" class="form-label">Password</label>
                                            <input type="password" class="form-control" name="" id="password"
                                                placeholder="" formControlName="password">
                                            <div *ngIf="formulario.get('password')?.invalid && formulario.get('password')?.touched"
                                                class="alert alert-danger">El
                                                password es obligatorio y
                                                debe de tener al menos 8
                                                caracteres, debe incluir por
                                                lo menos una letra mayuscula
                                                y un numero
                                            </div>

                                        </div>



                                        <div class="mb-3">
                                            <label for="pass" class="form-label">Confirma Password</label>
                                            <input type="password" class="form-control" name="" id="pass" placeholder=""
                                                formControlName="confirmaPassword">
                                            <div
                                                *ngIf="formulario.get('confirmaPassword')?.invalid && formulario.get('confirmaPassword')?.touched" class="alert alert-danger">
                                                La contraseña no coincide
                                            </div>



                                        </div>

                                    </div>
                                </div>
                            </div>

                            <div class="card-footer">
                                <button type="button" [disabled]="!formulario.valid"
                                    class="btn btn-danger">Registrar</button>

                            </div>


                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>