<div class="container">
    <div class="row">
        <div class="col-lg-2"></div>
        <div class="col-lg-8">
            <div class="card">
                <div class="card-header">
                    <h3>Formulario de registro a la base de datos </h3>
                </div>
                <div class="card-body">
                    <form [FormGroup]="passwordform"> 
                    <div class="row">
                        <div class="col d-flex justify-content-between">

                            <div class="mb-3">
                                <label for="" class="form-label">name</label>
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpid"
                                    placeholder="">
                                <small id="helpid" class="form-text text.muted">help text</small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">last name</label>
                                <input type="text" class="form-control" last name="" id="" aria-describedby="helpid"
                                    placeholder="">
                                <small id="helpid" class="form-text text.muted">help text</small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">age</label>
                                <input type="number" class="form-control" name="" id="" aria-describedby="helpid"
                                    placeholder="">
                                <small id="helpid" class="form-text text.muted">help text</small>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col d-flex justify-content-between">

                            <div class="mb-3">
                                <label for="" class="form-label">phone</label>
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpid"
                                    placeholder="">
                                <small id="helpid" class="form-text text.muted">help text</small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">email</label>
                                <input type="email" class="form-control" name="" id="" aria-describedby="emailHelpid"
                                    placeholder="abc@gmail.com">
                                <small id="emailHelpid" class="form-text text.muted">help text</small>
                            </div>

                            <div class="mb-3">
                                <label for="" class="form-label">city</label>
                                <input type="text" class="form-control" name="" id="" aria-describedby="helpid"
                                    placeholder="">
                                <small id="helpid" class="form-text text.muted">help text</small>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-between">

                                <div class="mb-3">
                                    <label for="" class="form-label">state</label>
                                    <input type="text" class="form-control" name="" id="" aria-describedby="helpid"
                                        placeholder="">
                                    <small id="helpid" class="form-text text.muted">help text</small>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">country</label>
                                    <input type="text" class="form-control" name="" id="" aria-describedby="helpid"
                                        placeholder="">
                                    <small id="helpid" class="form-text text.muted">help text</small>
                                </div>

                                <div class="mb-3">
                                    <label for="cumple">fecha de nacimiento</label>
                                    <input type="date" class="form-control" name="cumple" id="cumple"
                                        aria-describedby="helpid" placeholder="">
                                    <small id="helpid" class="text.muted">help text</small>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col d-flex justify-content-between">

                                <div class="mb-3">
                                    <label for="" class="form-label">postal</label>
                                    <input type="number" class="form-control" name="" id="" aria-describedby="helpid"
                                        placeholder="">
                                    <small id="helpid" class="form-text text.muted">help text</small>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">address</label>
                                    <input type="text" class="form-control" name="" id="" aria-describedby="helpid"
                                        placeholder="">
                                    <small id="helpid" class="form-text text.muted">help text</small>
                                </div>

                                <div class="mb-3">
                                    <label for="" class="form-label">password</label>
                                    <input type="password" class="form-control" name="" id="" placeholder="">
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                </div>
            </div>
        </div>
    </div>
</div>